
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
    src: url("../fonts/NotoSans/NotoSans-Regular.woff2") format("woff2"), 
    url("../fonts/NotoSans/NotoSans-Regular.woff") format("woff");
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSans/NotoSans-CondensedMedium.ttf") format("truetype");
    src: url("../fonts/NotoSans/NotoSans-CondensedMedium.woff2") format("woff2"), 
    url("../fonts/NotoSans/NotoSans-CondensedMedium.woff") format("woff");
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
    src: url("../fonts/NotoSans/NotoSans-Bold.woff2") format("woff2"), 
    url("../fonts/NotoSans/NotoSans-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Tuffy';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Tuffy/Tuffy-Bold.ttf") format("truetype");
    src: url("../fonts/Tuffy/Tuffy-Bold.woff2") format("woff2"), 
    url("../fonts/Tuffy/Tuffy-Bold.woff") format("woff");
}
