@import "./mixins.scss";
@import "./fonts.scss";

/*==========================================*/

$minwidth: 320px;
$mw: 1440;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

/*==========================================*/
html,
body {
    padding: 0;
    margin: 0;
    counter-reset: section;
}
body {
    color: #fff;
    background: #262628;
    font-size: 21px;
    font-family: "NotoSans";
    font-weight: 400;
}
body._lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
    }
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
    padding: 0;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/*==========================================*/

._container {
    max-width: $mw + px;
    margin: 0 auto;
    // @include small-desktop-min {
    //      padding: 0 30px;
    // }
    // @include small-tablet {
    //     max-width: none;
    //     padding: 0 5px;
    // }
}
// ===========================================================

.btn {
    background: #d23166;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 13px 50px;

    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(22 / 16 * 100%);
    color: #fafafa;
    transition: background 0.3s ease 0s;
    @media (min-width: 992px) {
        &:hover {
            background-color: #d00045;
        }
    }
}

.page {
    flex: 1 1 auto;
}
._container-aside {
    max-width: 163px;
    margin: 0 auto;
}
._container-info {
    max-width: 1277px;
    margin: 0 auto;
}

.info {
}
.number-block {
    display: block;
    &::before {
        counter-increment: section;
        content: "/ 0" counter(section);
        font-size: 28px;
        line-height: 143%;
        letter-spacing: 0.1em;
    }
}
.line {
    margin: 8px 0 24px 0;
    display: flex;
    max-width: 320px;
    width: 100%;
    height: 1px;
    &__selected {
        width: 160px;
        background: #efc862;
    }
    &__primary {
        width: 160px;
        background: #707070;
    }
}
.content {
}
.title {
    font-family: "Tuffy";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;

    text-transform: uppercase;
}
.text {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    letter-spacing: 0.1em;
}

@include tablet {
    .title {
        font-size: 56px;
    }
    .text {
        font-size: 18px;
    }
}
@include small-tablet {
    .title {
        font-size: 46px;
    }
    .text {
        font-size: 16px;
    }
}
@include mobile {
    .title {
        font-size: 36px;
    }
    .text {
        font-size: 14px;
    }
}
@include mobile-medium {
    .text {
        font-size: 12px;
    }
}


/*==========================================*/
@import "_header.scss";
/*==========================================*/
@import "_index.scss";
@import "_aside.scss";
@import "_sectionfooter.scss";

/*==========================================*/
@import "_footer.scss";
